@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .link-underline::before,
  .link-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c2410c;
    border-radius: 200px;
    transition: width 0.3s ease;
  }

  .link-underline:hover::before,
  .link-underline:hover::after {
    width: 0;
  }

  .link-underline-dark::before,
  .link-underline-dark::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffb703;
    border-radius: 200px;
    transition: width 0.3s ease;
  }

  .link-underline-dark:hover::before,
  .link-underline-dark:hover::after {
    width: 0;
  }

  .custom-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}